.container{
    justify-content: center;
    text-align: center;
}
.input{
    background-color: #e9edc9;
    border: 1px solid grey;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}
.boton{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    position: relative;
    text-align: center;
    padding: auto auto;
}